</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html>
